<!DOCTYPE html>
<html>

   <head>
      <title>File Metadata Microservice | Free Code Camp</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>File Metadata Microservice</h1>
         <h3>Submit a file to view its filesize</h3>
         <form action="/file" method="POST" enctype="multipart/form-data">
           <input type="file" name="file">
           <input type="submit">
         </form>
      </div>
   </body>

</html>
